#login-invitation {
    text-align: justify;
}

article h1 {
    color: #A5978B;
}

input {
    max-width: 400px;
    min-width: 200px;
    width: 30%;
}

button {
    width: 15%;
    min-width: 100px;
    max-width: 200px;
}

input, button {
    margin: 5px 0;
}

form {
    margin: auto;
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-flow: column wrap;
}